# Usage: pip install -r requirements.txt
Django==1.9.7
django-bootstrap-form==3.2.1
git+https://github.com/Aalto-LeTech/django-dictiterators.git@1.0.0#egg=django-dictiterators==1.0.0
git+https://github.com/Aalto-LeTech/django-colortag.git@1.1.5#egg=django-colortag==1.1.5
git+https://github.com/Aalto-LeTech/django-lti-login.git@2.0.0#egg=django-lti-login==2.0.0
django-filter==0.15.0
celery==4.0.2
psycopg2>=2.5.4
python-memcached==1.58
raphendyr-django-essentials==1.0.0

# aplus_client
cachetools==1.1.6
requests==2.10.0
