# Usage: pip install -r requirements.txt
Django ~= 4.2.1
Jinja2 ~= 3.1.1
django-jinja ~= 2.10.0
django-bootstrap-form ~= 3.4
django-jinja-bootstrap-form ~= 4.3.4
git+https://github.com/apluslms/django-essentials.git@1.6.0#egg=django-essentials~=1.6.0
git+https://github.com/apluslms/js-jquery-toggle.git@1.1.2#egg=js-jquery-toggle-django~=1.1.2&subdirectory=django
git+https://github.com/apluslms/django-dictiterators.git@1.1.1#egg=django-dictiterators~=1.1.1
git+https://github.com/apluslms/django-colortag.git@2.5.0#egg=django-colortag~=2.5.0
git+https://github.com/apluslms/django-lti-login.git@3.3.0#egg=django-lti-login~=3.3.0
django-filter ~= 22.1
django-settingsdict ~= 1.1.1
celery ~= 5.3.1
psycopg2-binary ~= 2.9.3
pymemcache ~= 4.0.0
ansi2html ~= 1.7.0
plotly ~= 4.5.0

# aplus_client
cachetools ~= 5.3.1
requests >= 2.28.0, < 3
