[Unit]
Description=MOOC Jutut celeryd beat
PartOf=nginx.service
BindsTo=$celery_service

[Service]
User=$user
Group=$group
SyslogIdentifier=$name-celery
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=$dest/
Environment="PATH=$venv/bin/:/usr/local/bin:/usr/bin:/bin"
ExecStart=$venv/bin/celery --app jutut beat --pidfile=$run_path/celerybeat.pid --loglevel=info --schedule=$home/celerybeat-schedule
PIDFile=$run_path/celerybeat.pid
ExecReload=/bin/kill -s HUP $$MAINPID
ExecStop=/bin/kill -s TERM $$MAINPID
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
