{% set form_id = form.auto_id|format("form_" ~ get_random_string(8)) -%}
{#
  Template for bootstrap glyph
-#}
{% macro glyph(name) -%}
	<span class="glyphicon glyphicon-{{name}}" aria-hidden="true"></span>
{% endmacro -%}
{#
  Staff reponse template
-#}
{% macro staff_response(message, index=0) -%}
	{% if message %}
		<li class="list-group-item list-group-item-info staff" style="{% if index > 2 %}display: none;{% endif %}">
			{{ glyph("education") }}
			<span class="text">{{ message }}</span>
		</li>
	{% endif %}
{% endmacro -%}
{#
  Student message template
-#}
{% macro student_message(messages, index=0) -%}
	<li class="list-group-item student" style="{% if index > 2 %}display: none;{% endif %}">
		{% if messages|length > 1 %}
			{% for key, text in messages %}
				{% if not loop.first %}<br>{% endif %}
				<b>{{ key }}</b><br>
				<span class="text">{{ text }}</span>
			{% endfor %}
		{% else %}
			{% for key, text in messages %}
				<span class="text">{{ text }}</span>
			{% endfor %}
		{% endif %}
	</li>
{% endmacro -%}
{#
  Main block
-#}
<div class="jutut-exercise jutut-v2" lang="{{ get_current_language() }}">

	{# Response #}
	{% if feedback %}
		{% set older_count = feedback.older_versions.count() %}
		{% if feedback.response_msg or older_count > 0 %}
			<div class="well">
				<ul class="list-group nav" style="margin-bottom: 0;">
					{% if older_count > 2 %}
						<li class="show-more">
							{{ glyph("menu-up") }} {{ _("show more") }} {{ glyph("menu-up") }}
						</li>
					{% endif %}

					{% for oldfb in feedback.older_versions|reverse %}
						{{ student_message(oldfb.text_feedback, loop.revindex) }}
						{{ staff_response(oldfb.response_msg, loop.revindex) }}
					{% endfor %}

					{{ student_message(feedback.text_feedback) }}
					{% if feedback.response_msg %}
						{{ staff_response(feedback.response_msg) }}
					{% endif %}
				</ul>
			</div>
		{% endif %}
	{% endif %}

	{# Form #}
	<form id="{{ form_id }}" action="{{ post_url }}" method="post" class="form">

		{{ form|bootstrap }}

		<div class="only-when-edited alert alert-warning" style="display: none;">
			{{ _("This feedback has unsaved changes!") }}
		</div>

		<div class="form-group">
			<div class="btn-toolbar">
				<input
					type="submit"
					value="{% if feedback %}{{ _('Submit an update') }}{% else %}{{ _('Submit') }}{% endif %}"
					class="btn btn-primary aplus-submit">
				<input
					type="reset"
					value="{{ _('Reset changes') }}"
					class="btn btn-danger only-when-edited">
			</div>
		</div>
	</form>

	{# UI interaction #}
	<script>
		(function($) {
			{# implement edited notification #}
			var f = $('#{{ form_id }}'),
				o = f.find('.only-when-edited'),
				i = f.serialize(), s = false;
			f.removeAttr('id');
			f.find(':input').on('change input', function() {
				var n = f.serialize() !== i;
				if (s !== n) o.toggle(s = n);
			});
			f.find("input[type='reset']").on('click', function(e) {
				e.preventDefault();
				f.each(function(){this.reset();});
				o.hide(); s = false;
			});
			o.hide();
			{# implement show more #}
			var c = f.prev(), m = c.find('.show-more');
			m.click(function() { c.find('li').show(); m.hide(); });
			{# inject styles #}
			if ($('#jutut-v2').length==0)
				$('<style id="jutut-v2"></style>').appendTo(document.head).text(
					".jutut-exercise.jutut-v2 .well { padding: 6px; } " +
					".jutut-exercise.jutut-v2 .show-more { margin: 0 0 -6px; padding: 0; text-align: center; cursor: pointer; } " +
					".jutut-exercise.jutut-v2 li { margin: 3px 0; border-radius: 4px; } " +
					".jutut-exercise.jutut-v2 li .text { white-space: pre-wrap; } " +
					".jutut-exercise.jutut-v2 li.staff { margin-left: 15%; padding-left: 32px; } " +
					".jutut-exercise.jutut-v2 li.staff .glyphicon { position: absolute; top: 12px; left: 12px; color: #5d5d5d; } " +
					".jutut-exercise.jutut-v2 li.student { margin-right: 15%;} "
				);
		})(jQuery);
	</script>
</div>
