{% extends "bootstrapped.html" %}

{% block title %}{{ super() }} - {{ _("Feedback") }}{% endblock %}

{% block meta %}
	{{ super() }}
	{% if status == "graded" %}
		<meta name="status" value="graded" />
		<meta name="points" value="{{ points }}" />
		<meta name="max-points" value="{{ feedback.max_grade }}" />
	{% else %}
		<meta name="status" value="{{ status|default('error', true) }}" />
	{% endif %}
{% endblock meta %}

{% block content %}
	<div class="card">
		<div class="card-header">
			{{ _("Feedback <i>%(jutut)s</i> for <i>%(aplus)s</i>", jutut=jutut_path, aplus=aplus_path) }}
		</div>
		<div id="exercise" class="card-body">
			{% include "feedback/_form.html" %}
		</div>
	</div>
{% endblock content %}
