{% load i18n %}
{% load contexttag %}
{% comment %}
	expects to be used under bootstrapped.html
	expects from context:
		conv.feedback_list
		exercise
		all_student_feedbacks_for_exercise_url
		all_feedbacks_for_exercise_url
{% endcomment %}
<div class="panel-heading">
	<div class="chapter-info">
		<a rel="external"
			class="panel-title"
			data-toggle="tooltip"
			data-trigger="hover"
			data-placement="top"
			title="{% trans 'Show exercise in A+' %}"
			href="{{ exercise.html_url }}">
			{{ exercise.context_name }}
		</a>
		<a
			class="btn btn-xs hover-btn"
			data-toggle="tooltip"
			data-trigger="hover"
			data-placement="top"
			title="{% trans 'Show all feedback for this exercise' %}"
			href="{{ conv.all_feedback_for_exercise_url }}">
			<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
		</a>
		<button
			class="btn btn-xs hover-btn"
			data-toggle="tooltip"
			data-trigger="hover"
			data-placement="top"
			title="{% trans 'Copy link to this conversation' %}"
			data-copy-notification="{% trans 'The link was copied to the clipboard' %}"
			onclick="copyToClipboard('{{ conv.student_feedback_for_exercise_url }}', this)"
		>
			<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
		</button>
	</div>
	<div class="feedback-context-container">
		<div class="btn-toolbar pull-right feedback-context">
			{% for tag in conv.context_tags %}
				{{ tag }}
			{% endfor %}
		</div>
	</div>
</div>
