{% load i18n %}
{% load humanize %}
{% load feedback %}
{% comment %}
	expects to be used under bootstrapped.html
	expects from context:
		feedback
		feedback_form
		post_url
{% endcomment %}
<div class="panel panel-default feedback-panel reacts-to-status">
	<table class="table table-condensed">
		{% for field in feedback_form %}
			{% if field.has_data %}
				{# FIXME: clean this up #}
				<tr class="{{ field.field.required|yesno:',info' }} {{ field.is_text|yesno:'text,data' }}" style="{{ field.is_text|yesno:',display: none;' }}">
					<th style="{{ field.is_text|yesno:'display: none;,' }}">
						{{ field.label|default:field.name }}
						{% if field.help_text %}
							<span rel="tooltip"
								data-toggle="tooltip"
								data-trigger="hover click"
								data-placement="bottom"
								data-html="true"
								title="{{ field.help_text }}"
								>
								<span class="glyphicon glyphicon-info-sign"></span>
							</span>
						{% endif %}
						{% if not field.field.required %}
							<span rel="tooltip"
								data-toggle="tooltip"
								data-trigger="hover click"
								data-placement="bottom"
								data-html="true"
								title="{% trans 'This field was <b>not</b> required' %}"
								>
								<span class="label label-info">{% trans "optional" %}</span>
							</span>
						{% endif %}
					</th>
					<td>
						{% for val in field.display_data_list %}
							{% if not forloop.first %}<br>{% endif %}
							{{ val }}
						{% empty %}
							{{ field.display_data }}
						{% endfor %}
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	<div class="panel-footer" title="{% trans 'Show all feedback fields' %}">
		<span class="show-all-fields" data-up="menu-up" data-down="menu-down"></span>
		<span
			rel="tooltip"
			data-toggle="tooltip"
			data-trigger="hover"
			data-placement="bottom"
			title="{{ feedback.timestamp }}">
			{{ feedback.timestamp|naturaltime }}
		</span>
		<div class="btn-toolbar pull-right" role="toolbar">
			<div class="btn-group btn-group-xs" role="group">
				{% with time=feedback.form_data.timespent %}
					{% if time %}
						{# FIXME: use expected time to set different colors #}
						<span class="label label-default">{{ time }} mins</span>
					{% endif %}
				{% endwith %}
			</div>
			<div class="btn-group btn-group-xs" role="group">
				<a
					class="btn btn-primary"
					data-toggle="tooltip"
					data-trigger="hover"
					data-placement="bottom"
					title="{% trans 'Show submission in A+' %}"
					href="{{ feedback.submission_html_url }}"
					>
					<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
					A+</a>
			</div>
		</div>
	</div>
</div>
