{% load i18n %}
{% load humanize %}
{% load feedback %}
{% comment %}
	expects to be used under bootstrapped.html
	expects from context:
		active
		fb.feedback
		fb.feedback_form
{% endcomment %}

{% with feedback=fb.feedback %}
<div class="feedback-message {% if active %}active{% endif %}">
	<table class="table table-condensed">
		<col class="field-names"/>
		<col/>
		{% for field in fb.feedback_form %}
			{% if field.has_data %}
				{# FIXME: clean this up #}
				<tr class="{{ field.is_text|yesno:'text,data only-expanded collapse' }}">
					<th class="only-expanded collapse">
						{{ field.label|default:field.name }}
						{% if field.help_text %}
							<span rel="tooltip"
								data-toggle="tooltip"
								data-trigger="hover click"
								data-placement="bottom"
								data-html="true"
								title="{{ field.help_text }}"
								>
								<span class="glyphicon glyphicon-info-sign"></span>
							</span>
						{% endif %}
						{% if not field.field.required %}
							<span rel="tooltip"
								data-toggle="tooltip"
								data-trigger="hover click"
								data-placement="bottom"
								data-html="true"
								title="{% trans 'This field was <b>not</b> required' %}"
								>
								<span class="label label-info">{% trans "optional" %}</span>
							</span>
						{% endif %}
					</th>
					<td>
						{% for val in field.display_data_list %}
							{% if not forloop.first %}<br>{% endif %}
							{{ val }}
						{% empty %}
							{{ field.display_data }}
						{% endfor %}
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	<div class="toggle-showall panel-footer collapsed"
		role="button" aria-expanded="false" tabindex=0
		title="{% trans 'Show all feedback fields' %}"
	>
		<span class="timestamp">
			{{ feedback.timestamp|date:"d/m" }} {{ feedback.timestamp|time:"H:i" }}
		</span>
	<!-- change collapse-functionality so that only the classes within the clicked message are toggled -->
		<div class="feedback-msg-bottom only-expanded collapse">
			<div class="btn-group btn-group-xs" role="group">
				<a
					class="btn btn-primary"
					data-toggle="tooltip"
					data-trigger="hover"
					data-placement="bottom"
					title="{% trans 'Show submission in A+' %}"
					href="{{ feedback.submission_html_url }}"
					>
					<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
					A+
				</a>
			</div>
			<span>{{ feedback.timestamp|naturaltime }}</span>
		</div>
	</div> <!--.panel-footer-->
</div>
{% endwith %}
