{% load i18n %}
{% comment %}
	expects to be used under bootstrapped.html
	expects from context:
		form
		feedback
		post_url
		older_url (optional)
{% endcomment %}
<div class="panel panel-success feedback-panel">
	<div class="panel-heading clearfix">
		<a
			class="panel-title btn btn-xs btn-link"
			title="Show exercise in A+"
			href="{{ feedback.exercise.html_url }}"
			>{{ feedback.exercise_path }}</a>
		<div class="btn-toolbar pull-right">
			{% if older_url %}
				<a class="btn btn-default btn-sm"
					href="{{ older_url }}"
					>
					{% trans "Older feedbacks" %}
					<span class="badge">{{ feedback.older_versions_count|default:"&#9473;" }}</span>
				</a>
			{% endif %}
		</div>
	</div>
	<table class="table">
		{% for k, v in feedback.form_data.items|dictsort:"0.lower" %}
			<tr>
				<th>{{ k }}</th>
				<td>{{ v }}</td>
			</tr>
		{% endfor %}
	</table>
	<div class="panel-footer">
		Posted {{ feedback.timestamp }}
		{% with time=feedback.form_data.timespent %}
			{# One variable to rule them all! #}
			{% if time %}
				{# FIXME: use expected time to set different colors #}
				<span class="label label-primary pull-right">{{ time }} mins</span>
			{% endif %}
		{% endwith %}
	</div>
</div>
