{% load i18n %}

<div class="panel panel-{{ feedback_filter.form.contains_data|yesno:'success,default,danger' }}">
	<div class="panel-heading" data-toggle="collapse" data-target="#filter-panel" role="button" style="cursor: pointer;">
		<h3 class="panel-title">
			{% blocktrans with number=feedback_filter.form.number_of_filters %}Filter options ({{number}} active){% endblocktrans %}
			<span class="glyphicon glyphicon-menu-down pull-right visible-xs"></span>
		</h3>
	</div>
	<div id="filter-panel" class="panel-body collapse in">
		<form id="filter-form" role="form" action="{% url 'feedback:list' course_id=course.id %}" method="GET" class="form-horizontal" autocomplete="off">
			{{ feedback_filter.form }}
		</form>
	</div>
</div>
