{% load i18n %}
{% load bootstrap %}
{% load feedback %}
{% comment %}
	expects to be used under bootstrapped.html
	expects from context:
		form
		feedback
		min_grade
		post_url
{% endcomment %}

<div
	class="panel panel-primary response-panel {{ feedback.waiting_for_response|yesno:',disabled' }}"
	id="{{ form.auto_id|fill_format_string:"panel" }}"
	>
	<div class="panel-heading">
		{% if form.has_expired %}
			<span
				id="{{ form.auto_id|fill_format_string:"state" }}"
				class="label label-default"
				>{% trans "Conflict" %}</span>
		{% else %}
			{% with grade=form.had.response_grade_text color=form.had.valid_response_grade|grade_color %}
				<span
					id="{{ form.auto_id|fill_format_string:"state" }}"
					class="label label-{{ color }}"
					data-orig-style="label-{{ color }}"
					data-orig-text="{{ grade }}"
					>{{ grade }}</span>
			{% endwith %}
			<button
				class="btn btn-danger btn-xs reset-button"
				data-form-id="{{ form.auto_id|fill_format_string:"form" }}"
				style="display: none;"
				>{% trans "Reset" %}</button>
			{% if form.had.responded %}
				<span class="response-by">
					{% if form.instance.response_by %}
						{% blocktrans with time=form.instance.response_time user=form.instance.response_by.email %}{{time}} by {{user}}{% endblocktrans %}
					{% else %}
						<span rel="tooltip"
							class="label label-info"
							data-toggle="tooltip"
							data-trigger="hover click"
							data-placement="top"
							title="{% trans "This feedback was automatically accepted" %}"
							>{% trans "auto" %}</span>
						{{ form.instance.response_time }}
					{% endif %}
				</span>
			{% endif %}
		{% endif %}

		{% with upl=feedback.response_uploaded %}
			{% if feedback.responded and not upl.ok %}
				<span rel="tooltip"
					class="label label-danger pull-right"
					data-toggle="tooltip"
					data-trigger="hover click"
					data-placement="top"
					data-html="true"
					title="{% blocktrans with count=upl.attempts when=upl.when|date:'Y-m-d H:i:s' code=upl.code %}Upload is <b>not</b> ok.<br>Tried {{count}} times.<br>Last tried {{when}} with status {{code}}.{% endblocktrans %}"
					>{% blocktrans with code=upl.code %}upload status {{code}}{% endblocktrans %}
				</span>
			{% endif %}
		{% endwith %}
	</div>

	<div class="panel-body">
		<form
			id="{{ form.auto_id|fill_format_string:"form" }}"
			data-state-id="{{ form.auto_id|fill_format_string:"state" }}"
			data-panel-id="{{ form.auto_id|fill_format_string:"panel" }}"
			action="{{ post_url }}"
			method="post"
			class="form-horizontal ajax-form"
			role="form">
			{% csrf_token %}

			{% include "_errors_box.html" with errors=form.non_field_errors %}

			{% for field in form.hidden_fields %}
				{% include "_errors_box.html" with errors=field.errors %}
				{{ field }}
			{% endfor %}

			{% with f=form.response_msg %}
				{% include "_errors_box.html" with errors=f.errors %}
				<div class="form-group {% if f.errors %}has-error{% endif %}">
					<div class="col-xs-12">
						<textarea
							id={{ f.id_for_label }}
							class="form-control track-change"
							name="response_msg"
							placeholder="{{ f.label }}"
							autocomplete="off"
							{{ form.disabled|yesno:'disabled,' }}
							rows="2"
							>{{ f.value|default:'' }}</textarea>
					</div>
				</div>
			{% endwith %}

			{% with f=form.response_grade %}
				{% include "_errors_box.html" with errors=f.errors classes="col-xs-12" %}
				<div class="form-group replace-with-buttons">
					<div class="col-xs-10">
						<div class="btn-group btn-group-justified">
							{% for c in f %}
								<label
									class="btn btn-{{ c.choice_value|grade_color }}
									{% if c.is_checked and form.instance.responded %}active{% endif %}
									">
									<input
										type="radio"
										name="{{ f.name }}"
										value="{{ c.choice_value }}"
										{% if c.choice_value|force_int < min_grade or form.disabled %} disabled {% endif %}
										autocomplete="off"
										data-color="{{ c.choice_value|grade_color }}"
										{% if c.is_checked and form.instance.responded %} checked {% endif %}
										/>
									{{ c.choice_label }}
								</label>
							{% endfor %}
						</div>
					</div>
					<div class="col-xs-2">
						<input
							type="submit"
							class="btn btn-primary pull-right"
							value="{% if form.had.responded %}Update{% else %}Respond{% endif %}"
							{% if form.disabled %} disabled {% endif %}
							/>
					</div>
				</div>
				{# javascript will add buttons for above here #}
			{% endwith %}
		</form>
		<div class="overlay">
			<button class="btn btn-default pull-right edit-btn">
				<span class="glyphicon glyphicon-pencil"></span>
				{% trans "Edit" %}
			</button>
		</div>
	</div>

	<div class="panel-footer">
		Footer
		<div class="overlay"></div>
	</div>
</div>
