{% load i18n %}
{% load feedback %}
{% load colortag %}
{% comment %}
	expects to be used under bootstrapped.html
	expects from context:
		course
		user
{% endcomment %}
<div class="panel-heading">
	<span class="panel-title">
		{{ user }}
		{% for tag in user|studenttags_for_course:course %}
			{{ tag|colortag }}
		{% endfor %}
	</span>
	<div class="btn-group pull-right">
		<a class="btn btn-primary btn-xs" href="{{ all_feedbacks_url }}">
			<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
			{% trans "Student" %}
		</a>
		<!-- <a class="btn btn-primary btn-xs" href="#">All submissions in A+</a> -->
	</div>
</diV>
