{% load i18n %}
{% load feedback %}
{% load colortag %}
{% comment %}
	expects to be used under bootstrapped.html
	expects from context:
		course
		conv
		user
{% endcomment %}
<div class="panel-heading">
	<div class="student-info">
		<a class="student-name"
			data-bs-toggle="tooltip"
			data-bs-trigger="hover"
			data-bs-placement="top"
			title="{% trans 'Open student page in A+' %}"
			href="{{ conv.student_aplus_url }}"
			target="_blank">
			{{ user.full_name }}
		</a>
		<div class="student-tags">
			{% spaceless %}
			{% for tag in user|studenttags_for_course:course %}
				{{ tag|colortag }}
			{% endfor %}
			{% endspaceless %}
		</div>
	</div>
	<div class="btn-toolbar" role="toolbar" aria-label="{% translate 'Toolbar of buttons related to student' %}">
		<div class="btn-group" role="group" aria-label="{% translate 'Group of buttons for viewing conversations with student' %}">
			<a class="btn btn-sm hover-btn"
				data-bs-toggle="tooltip"
				data-bs-trigger="hover"
				data-bs-placement="top"
				title="{% trans 'Show all feedback for this student' %}"
				href="{{ conv.all_feedback_for_student_url }}&contains_text=on">
				<span class="bi bi-filter" aria-hidden="true"></span>
			</a>
			<a class="btn btn-sm hover-btn student-conv-prev-btn"
				tabindex="0"
				role="button"
				data-bs-toggle="popover"
				data-bs-trigger="focus hover"
				data-bs-placement="bottom"
				data-title="{% blocktranslate trimmed with name=user.full_name %}
					Conversations with {{ name }}
				{% endblocktranslate %}"
				data-url="{{ conv.all_feedback_for_student_url }}&contains_text=on&paginate_by=200"
				data-error="{% translate 'Unable to preview conversations.' %}"
				aria-label="{% trans 'Show conversations with student in a popover.' %}"
			>
				<span class="bi bi-eye" aria-hidden="true"></span>
			</a>
		</div>
		<div class="btn-group fb-context-btn-group" role="group" aria-label="{% translate 'Group of buttons providing background context' %}">
			{% if conv.show_background %}
				<a class="btn btn-sm hover-btn background-btn"
					tabindex="0"
					role="button"
					data-bs-toggle="popover"
					data-bs-trigger="focus hover"
					data-bs-placement="bottom"
					title="{% blocktranslate trimmed with name=user.full_name %}
						Background questionnaire for {{ name }}
					{% endblocktranslate %}"
					data-url="{% url 'feedback:background' course_id=course.id student_id=conv.student.id%}"
					data-error="{% translate "Unable to fetch student's response." %}"
					aria-label="{% translate "Show the student's response to the background questionnaire in a popover." %}"
				>
					{% trans 'Background' %}
				</a>
			{% endif %}
			<a class="btn btn-sm hover-btn display-points-btn"
				tabindex="0"
				role="button"
				data-bs-toggle="popover"
				data-bs-trigger="focus hover"
				data-bs-placement="bottom"
				title="{% blocktranslate trimmed with name=user.full_name %}
					Points for {{ name }}
				{% endblocktranslate %}"
				data-url="{% url 'feedback:points' conversation_id=conv.id %}"
				data-error="{% translate 'Unable to fetch points.' %}"
				aria-label="{% translate "Show the student's points in a popover." %}"
			>
				{% trans 'Points' %}
			</a>
		</div>
	</div> <!-- .btn-toolbar -->
</div>
