{% load i18n %}
{% load feedback %}
{% comment %}
	expects to be used under bootstrapped.html
	expects from context:
		feedback
		status_url
		state
{% endcomment %}

{% with upl=feedback.response_uploaded %}
	{% if feedback.responded and not upl.ok %}
		<span rel="tooltip"
			class="label label-{{ upl.code|yesno:"danger,default" }} pull-right upload-status"
			data-updateurl="{{ status_url|default:request.get_full_path }}"
			data-code="{{ upl.code }}"
			{% if upl.code %}
				data-toggle="tooltip"
				data-trigger="hover"
				data-placement="top"
				data-html="true"
				title="{% blocktrans with count=upl.attempts when=upl.when|date:'Y-m-d H:i:s' code=upl.code %}Upload is <b>not</b> ok.<br>Tried {{count}} times.<br>Last tried {{when}} with status {{code}}.{% endblocktrans %}"
			{% endif %}
			{{ state|on_state:"default" }}
			>
			{% if upl.code %}
				{% blocktrans with code=upl.code %}upload status {{code}}{% endblocktrans %}
			{% else %}
				{% trans 'Uploading' %}
			{% endif %}
		</span>
	{% endif %}
{% endwith %}
