{% extends "bootstrapped.html" %}
{% load static %}
{% load cache %}
{% load i18n %}

{% block meta %}
{{ block.super }}
	{# django_colortag #}
	<link rel="stylesheet" href="{% static "django_colortag.css" %}">
	{# project additions #}
	<link rel="stylesheet" href="{% static "feedback.css" %}">

	{# language flags, src: https://github.com/usrz/bootstrap-languages @ 81e4a03 #}
	<link rel="stylesheet" href="{% static "languages.min.css" %}">
{% endblock %}

{% block scripts %}
{{ block.super }}
	{# nav bar code #}
	<script src="{% static "nav.js" %}"></script>

	{# project additions #}
	<script src="{% static "feedback.js" %}"></script>
{% endblock %}


{% block body %}
	{# Top navigation #}
	{# cache 60 topnav request.user.username #}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url "feedback:site-list" %}">MOOC-Jutut</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					{% if sitelist and sitelist|length > 1 %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false"
								>
								{% if sitename %}
									{% blocktrans with name=sitename %}Site: {{name}}{% endblocktrans %}
								{% else %}
									{% trans "Select site" %}
								{% endif %}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{% for site in sitelist %}
									<li><a
										href="{% url "feedback:course-list" site_id=site.id %}"
										>{{site.domain}}</a></li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}
					{% if courselist %}
						{% if courselist|length > 1 or not course %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false"
									>
									{% if course %}{{ course }}{% else %}{% trans "Select course" %}{% endif %}
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									{% for course in courselist %}
										<li>
											<a
												href="{% url "feedback:notresponded-course" course_id=course.id %}"
												title="Show unresponded feedback for {{ course }}"
												>{{ course }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</li>
							{% if course %}
								<li>
									<a
										href="{% url "feedback:notresponded-course" course_id=course.id %}"
										title="Show unresponded feedback for {{ course }}"
										>
										<span class="{% if course_notresponded %}badge{% endif %}">
											<span class="glyphicon glyphicon-send"></span>
											{{ course_notresponded }}
										</span>
									</a>
								</li>
							{% endif %}
						{% elif course %}
							<li>
								<a
									href="{% url "feedback:notresponded-course" course_id=course.id %}"
									title="Show unresponded feedback for {{ course }}"
									>{{ course }}
									<span class="{% if course_notresponded %}badge{% endif %}">
										<span class="glyphicon glyphicon-send"></span>
										{{ course_notresponded }}
									</span>
								</a>
							</li>
						{% endif %}
					{% endif %}
					{% if course %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false"
								>{% trans "More" %} <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{% url "feedback:list" course_id=course.id %}">{% trans "Filter feedbacks" %}</a></li>
								<li><a href="{% url "feedback:tags" course_id=course.id %}">{% trans "Manage feedback tags" %}</a></li>
								<li><a href="{% url "feedback:user-list" course_id=course.id %}">{% trans "Student list" %}</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{% url "feedback:clear-cache" course_id=course.id %}">{% trans "Clear cache" %}</a></li>
								<!-- <li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li> -->
							</ul>
						</li>
					{% endif %}
				</ul>

				{# language select #}
				<form id="language-form" action="{% url 'set_language' %}" method="post" style="display: none;">
					{% csrf_token %}
					<input name="next" type="hidden" value="{{ request.get_full_path }}" />
					<input name="language" type="hidden" value="" />
				</form>
				<ul id="language-menu" class="nav navbar-nav navbar-right" style="display: none;">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Language" %} <span class="caret"></span></a>
						<ul id="language-select" class="dropdown-menu" role="menu">
							{% get_current_language as LANGUAGE_CODE %}
							{% get_available_languages as LANGUAGES %}
							{% get_language_info_list for LANGUAGES as languages %}
							{% for language in languages %}
								<li class="{% if language.code == LANGUAGE_CODE %}active{% endif %}" data-value="{{ language.code }}">
									<a href="#" data-lang="{{ language.code }}">
										<span class="lang-sm lang-lbl-full" lang="{{ language.code }}"></span>
									</a>
								</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
				{# END language select #}
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	{# endcache #}

	{{ block.super }}
{% endblock %}
