{% extends "bootstrapped.html" %}
{% load static %}
{% load cache %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Management" %}{% endblock %}

{% block head %}
{{ block.super }}
	{% include 'jquery_toggle.head.html' %}
	{% include 'django_colortag.head.html' %}

	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40=" crossorigin="anonymous" />-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
	
	{# dynamic_forms #}
	<link rel="stylesheet" href="{% static "dynamic_forms.css" %}">
	{# project additions #}
	<link rel="stylesheet" href="{% static "feedback.css" %}">

	{# language flags, src: https://github.com/usrz/bootstrap-languages @ 81e4a03 #}
	<link rel="stylesheet" href="{% static "languages.min.css" %}">

	{# dynamic_forms #}
	<script src="{% static "dynamic_forms.js" %}"></script>
	{# nav bar code #}
	<script src="{% static "nav.js" %}"></script>
	{# project additions #}
	<script src="{% static "feedback.js" %}"></script>

{% endblock %}


{% block body %}
	{# Top navigation #}
	{# cache 60 topnav request.user.username #}
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" aria-label="Navigation">
		<div class="container">
			<a class="navbar-brand" href="{% url "feedback:site-list" %}">MOOC-Jutut</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="{% trans "TOGGLE_NAVIGATION" %}">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					{% if sitelist and sitelist|length > 1 %}
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" id="siteDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{% if sitename %}
									{% blocktrans with name=sitename %}Site: {{name}}{% endblocktrans %}
								{% else %}
									{% trans "Select site" %}
								{% endif %}
							</a>
							<ul class="dropdown-menu" aria-labelledby="siteDropdown">
								{% for site_obj in sitelist %}
									<li>
										<a class="dropdown-item{% if site_obj.id == site.id %} active{% endif %}" href="{% url "feedback:course-list" site_id=site_obj.id %}">{{site_obj.domain}}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}
					{% if courselist %}
						{% if courselist|length > 1 or not course %}
							<li class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle" id="courseDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									{% if course %}{{ course_name }}{% else %}{% trans "Select course" %}{% endif %}
								</a>
								<ul class="dropdown-menu" aria-labelledby="courseDropdown">
									{% for course_obj, course_name in courselist %}
										<li>
											<a class="dropdown-item{% if course_obj.id == course.id %} active{% endif %}"
												href="{% url "feedback:notresponded-course" course_id=course_obj.id %}"
												title="{% blocktrans with name=course_name %}Show unresponded feedback for {{name}}{% endblocktrans %}">
												{{ course_name }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</li>
							{% if course %}
								<li class="nav-item">
									<a class="nav-link" href="{% url "feedback:notresponded-course" course_id=course.id %}"
									   title="{% blocktrans with name=course_name %}Show unresponded feedback for {{name}}{% endblocktrans %}">
										<span class="{% if course_notresponded %}badge bg-secondary{% endif %}">
											<i class="bi bi-send"></i>
											{{ course_notresponded }}
										</span>
									</a>
								</li>
							{% endif %}
						{% elif course %}
							<li class="nav-item">
								<a class="nav-link" href="{% url "feedback:notresponded-course" course_id=course.id %}"
								   title="{% blocktrans with name=course_name %}Show unresponded feedback for {{name}}{% endblocktrans %}">
									{{ course_name }}
									<span class="{% if course_notresponded %}badge bg-secondary{% endif %}">
										<i class="bi bi-send"></i>
										{{ course_notresponded }}
									</span>
								</a>
							</li>
						{% endif %}
					{% endif %}
					{% if course %}
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" id="moreDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "More" %}</a>
							<ul class="dropdown-menu" aria-labelledby="moreDropdown">
								<li><a class="dropdown-item" href="{% url "feedback:list" course_id=course.id %}?contains_text=on"><i class="bi bi-funnel me-2"></i>{% trans "Filter feedback" %}</a></li>
								<li><a class="dropdown-item" href="{% url "feedback:tags" course_id=course.id %}"><i class="bi bi-tags me-2"></i>{% trans "Manage feedback tags" %}</a></li>
								<li><a class="dropdown-item" href="{% url "feedback:tags-import" course_id=course.id %}"><i class="bi bi-download me-2"></i>{% trans "Import feedback tags" %}</a></li>
								<li><a class="dropdown-item" href="{% url "feedback:contexttags" course_id=course.id %}"><i class="bi bi-tag me-2"></i>{% trans "Manage context tags" %}</a></li>
								<li><a class="dropdown-item" href="{% url "feedback:user-list" course_id=course.id %}"><i class="bi bi-people me-2"></i>{% trans "Student list" %}</a></li>
								<li><a class="dropdown-item" href="{% url "timeusage:time-usage" course_id=course.id %}"><i class="bi bi-clock-history me-2"></i>{% trans "Time usage" %}</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="{% url "feedback:update-studenttags" course_id=course.id %}"><i class="bi bi-tag me-2"></i>{% trans "Update Student tags" %}</a></li>
								<li><a class="dropdown-item" href="{% url 'core:clear-cache' %}"><i class="bi bi-trash me-2"></i>{% trans "Clear cache" %}</a></li>
								<li><a class="dropdown-item" href="{% url 'core:servicestatus' %}"><i class="bi bi-lightning me-2"></i>{% trans "Service status" %}</a></li>
							</ul>
						</li>
					{% endif %}
				</ul>

				{# language select #}
				<form id="language-form" action="{% url 'set_language' %}" method="post" class="d-none">
					{% csrf_token %}
					<input name="next" type="hidden" value="{{ request.get_full_path }}" />
					<input name="language" type="hidden" value="" />
				</form>
				<ul id="language-menu" class="navbar-nav ms-auto d-none">
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">{% trans "Language" %}</a>
						<ul id="language-select" class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
							{% get_current_language as LANGUAGE_CODE %}
							{% get_available_languages as LANGUAGES %}
							{% get_language_info_list for LANGUAGES as languages %}
							{% for language in languages %}
								<li>
									<a class="dropdown-item{% if language.code == LANGUAGE_CODE %} active{% endif %}" href="#" data-lang="{{ language.code }}">
										<span class="lang-sm lang-lbl-full" lang="{{ language.code }}"></span>
									</a>
								</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
				{# END language select #}
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	{# endcache #}

	{{ block.super }}
{% endblock %}
