{% extends "bootstrapped.html" %}
{% load static %}
{% load cache %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Management" %}{% endblock %}

{% block head %}
{{ block.super }}
	{% include 'jquery_toggle.head.html' %}
	{% include 'django_colortag.head.html' %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40=" crossorigin="anonymous" />

	{# dynamic_forms #}
	<link rel="stylesheet" href="{% static "dynamic_forms.css" %}">
	{# project additions #}
	<link rel="stylesheet" href="{% static "feedback.css" %}">

	{# language flags, src: https://github.com/usrz/bootstrap-languages @ 81e4a03 #}
	<link rel="stylesheet" href="{% static "languages.min.css" %}">

	{# dynamic_forms #}
	<script src="{% static "dynamic_forms.js" %}"></script>
	{# nav bar code #}
	<script src="{% static "nav.js" %}"></script>
	{# project additions #}
	<script src="{% static "feedback.js" %}"></script>

{% endblock %}


{% block body %}
	{# Top navigation #}
	{# cache 60 topnav request.user.username #}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url "feedback:site-list" %}">MOOC-Jutut</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					{% if sitelist and sitelist|length > 1 %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false"
								>
								{% if sitename %}
									{% blocktrans with name=sitename %}Site: {{name}}{% endblocktrans %}
								{% else %}
									{% trans "Select site" %}
								{% endif %}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{% for site_obj in sitelist %}
									<li {% if site_obj.id == site.id %}class="active"{% endif %}>
										<a
											href="{% url "feedback:course-list" site_id=site_obj.id %}"
											>{{site_obj.domain}}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}
					{% if courselist %}
						{% if courselist|length > 1 or not course %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false"
									>
									{% if course %}{{ course_name }}{% else %}{% trans "Select course" %}{% endif %}
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									{% for course_obj, course_name in courselist %}
										<li {% if course_obj.id == course.id %}class="active"{% endif %}>
											<a
												href="{% url "feedback:notresponded-course" course_id=course_obj.id %}"
												title="{% blocktrans with name=course_name %}Show unresponded feedback for {{name}}{% endblocktrans %}"
												>{{ course_name }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</li>
							{% if course %}
								<li>
									<a
										href="{% url "feedback:notresponded-course" course_id=course.id %}"
										title="{% blocktrans with name=course_name %}Show unresponded feedback for {{name}}{% endblocktrans %}"
										>
										<span class="{% if course_notresponded %}badge{% endif %}">
											<span class="glyphicon glyphicon-send"></span>
											{{ course_notresponded }}
										</span>
									</a>
								</li>
							{% endif %}
						{% elif course %}
							<li>
								<a
									href="{% url "feedback:notresponded-course" course_id=course.id %}"
									title="{% blocktrans with name=course_name %}Show unresponded feedback for {{name}}{% endblocktrans %}"
									>{{ course_name }}
									<span class="{% if course_notresponded %}badge{% endif %}">
										<span class="glyphicon glyphicon-send"></span>
										{{ course_notresponded }}
									</span>
								</a>
							</li>
						{% endif %}
					{% endif %}
					{% if course %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false"
								>{% trans "More" %} <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{% url "feedback:list" course_id=course.id %}">
									<i class="glyphicon glyphicon-filter"></i>
									{% trans "Filter feedback" %}
								</a></li>
								<li><a href="{% url "feedback:tags" course_id=course.id %}">
									<i class="glyphicon glyphicon-tags"></i>
									{% trans "Manage feedback tags" %}
								</a></li>
								<li><a href="{% url "feedback:contexttags" course_id=course.id %}">
									<i class="glyphicon glyphicon-tag"></i>
									{% trans "Manage context tags" %}
								</a></li>
								<li><a href="{% url "feedback:user-list" course_id=course.id %}">
									<i class="glyphicon glyphicon-list"></i>
									{% trans "Student list" %}
								</a></li>
								<li><a href="{% url "timeusage:time-usage" course_id=course.id %}">
									<i class="glyphicon glyphicon-list"></i>
									{% trans "Time usage" %}
								</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{% url "feedback:update-studenttags" course_id=course.id %}">
									<i class="glyphicon glyphicon-tag"></i>
									{% trans "Update Student tags" %}
								</a></li>
								<li><a href="{% url 'core:clear-cache' %}">
									<i class="glyphicon glyphicon-trash"></i>
									{% trans "Clear cache" %}
								</a></li>
								<li><a href="{% url 'core:servicestatus' %}">
									<i class="glyphicon glyphicon-flash"></i>
									{% trans "Service status" %}
								</a></li>
							</ul>
						</li>
					{% endif %}
				</ul>

				{# language select #}
				<form id="language-form" action="{% url 'set_language' %}" method="post" style="display: none;">
					{% csrf_token %}
					<input name="next" type="hidden" value="{{ request.get_full_path }}" />
					<input name="language" type="hidden" value="" />
				</form>
				<ul id="language-menu" class="nav navbar-nav navbar-right" style="display: none;">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Language" %} <span class="caret"></span></a>
						<ul id="language-select" class="dropdown-menu" role="menu">
							{% get_current_language as LANGUAGE_CODE %}
							{% get_available_languages as LANGUAGES %}
							{% get_language_info_list for LANGUAGES as languages %}
							{% for language in languages %}
								<li class="{% if language.code == LANGUAGE_CODE %}active{% endif %}" data-value="{{ language.code }}">
									<a href="#" data-lang="{{ language.code }}">
										<span class="lang-sm lang-lbl-full" lang="{{ language.code }}"></span>
									</a>
								</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
				{# END language select #}
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	{# endcache #}

	{{ block.super }}
{% endblock %}
