{% extends "manage/base.html" %}

{% block content %}
<h1>List of courses with feedback</h1>

{% for course in courses %}
	{% ifchanged course.namespace %}
		{% if not forloop.first %}</ul>{% endif %}
		<h3>{{ course.namespace }}</h3>
		<ul>
	{% endifchanged %}
	<li>
		{{ course }}
		[ <a href="{% url 'feedback:notresponded-course' course_id=course.id path_filter='' %}"
		>see all not responded</a> ]
		<ul>
		{% for exercise in course.exercises.all %}
			{% with amount=exercise.unresponded_feedback.count %}
				{% if amount > 0 %}
					<li>
						{{ exercise }}
						[ <a href="{% url 'feedback:notresponded-exercise' exercise_id=exercise.id %}"
						>{{ exercise.unresponded_feedback.count }} not responded</a> ]
					</li>
				{% endif %}
			{% endwith %}
		{% endfor %}
		</ul>
	</li>
{% empty %}
	<ul>
	<li>No courses known yet.</li>
{% endfor %}
</ul>
{% endblock %}
