{% extends "manage/base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "List of courses with feedback" %}</h1>

{% for course in courses %}
	{% ifchanged course.namespace %}
		{% if not forloop.first %}</ul>{% endif %}
		<h3>{{ course.namespace }}</h3>
		<ul>
	{% endifchanged %}
	<li>
		{{ course }}
		[ <a href="{% url 'feedback:notresponded-course' course_id=course.id path_filter='' %}"
		>{% trans "see all not responded" %}</a> ]
	</li>
{% empty %}
	<ul>
	<li>{% trans "No courses known yet." %}</li>
{% endfor %}
</ul>
{% endblock %}
