{% extends "manage/base.html" %}
{% load static %}
{% load dictiterators %}
{% load i18n %}

{% block head %}
{{ block.super }}
	<script src="{% static "filterbar.js" %}"></script>{# extra js for feedback filter tool #}
	<script src="{% static "pagination.js" %}"></script>
{% endblock %}

{% block content %}
	<h1>{% blocktrans %}Feedback for {{course}}{% endblocktrans %}</h1>

	{% include "manage/_filter_bar.html" with url_pattern="feedback:list" %}

	{% include "manage/_conversations_as_list.html" %}

{% endblock %}
