{% extends "manage/base.html" %}
{% load static %}
{% load dictiterators %}
{% load i18n %}

{% block head %}
{{ block.super }}
	<script src="{% static "pagination.js" %}"></script>
{% endblock %}

{% block content %}
	<h1>{% trans "Unread Feedback" %}</h1>
	<h3>{{ course }}
		{% if feedback_filter == None %}
			<a href="{% url "feedback:list" course_id=course.id %}"
				class="btn btn-success btn-sm pull-right"
				>
				<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
				{% trans "Filter feedback" %}</a>
		{% endif %}
	</h3>

	{% if feedback_filter != None %}
		<div class="col-xs-12">
			{% include "manage/_filter_bar.html" %}
		</div>
	{% endif%}

	{% include "manage/_feedbacks_as_list.html" %}
{% endblock %}
