{% extends "manage/base.html" %}
{% load i18n %}
{% load humanize %}
{% load colortag %}

{% block content %}
<h1>{% trans "Update student tags" %}</h1>

{% if prev_update_time %}
	<p>
		{% blocktranslate trimmed with time=prev_update_time naturaltime=prev_update_time|naturaltime %}
			The most recent update of students tags for this course was on
			<b>{{ time }}</b> ({{ naturaltime }}).
		{% endblocktranslate %}
	</p>
{% endif %}

{% if has_token %}
	{% if tags == None %}
		<form method="POST">
			{% csrf_token %}
			<button class="btn btn-primary" type="submit">
				<span class="glyphicon glyphicon-transfer"></span>
				{% trans 'Update tags now' %}
			</button>
		</form>
	{% else %}
		<h4>{% trans "New tags" %}</h4>
		<p>
			{% for tag in tags.new %}
				{{ tag|colortag }}
			{% empty %}
				-
			{% endfor %}
		</p>
		<h4>{% trans "Updated tags" %}</h4>
		<p>
			{% for tag in tags.updated %}
				{{ tag|colortag }}
			{% empty %}
				-
			{% endfor %}
		</p>
		<h4>{% trans "Deleted tags" %}</h4>
		<p>
			{% for tag in tags.deleted %}
				{{ tag|colortag }}
			{% empty %}
				-
			{% endfor %}
		</p>
	{% endif %}
{% else %}
	<p>{% trans "This user is not authenticated using LTI and doesn't have api token." %}</p>
{% endif %}


{% endblock %}
