{% extends "manage/base.html" %}

{% block content %}
<h1>List of student feedback to {{ exercise }} on {{ exercise.course }}</h1>

	<div class="panel panel-default">
		{% include "manage/_feedback_heading.html" with user=student only %}

		{% for data in feedbacks %}
			{% if not forloop.first %}<hr />{% endif %}
			{% include "manage/_feedback_response.html" with form=data.form feedback=data.feedback post_url=data.post_url %}
		{% empty %}
			<div class="panel-body">
				<div class="alert alert-info">
					No feedback yet.
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
