{% spaceless %}
{% for widget in widget.subwidgets %}
	{% if not forloop.last %}
		{% include widget.template_name %}
	{% else %}
		<div>
			{% include widget.template_name %}
			<label{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %}
				{% if widget.attrs.bool_helptext %}
					data-bs-toggle="tooltip" data-bs-placement="right"
					data-original-title="{{ widget.attrs.bool_helptext }}"
				{% endif %}
			>
				{{ widget.attrs.bool_label }}
			</label>
		</div>
	{% endif %}
{% endfor %}{% endspaceless %}
