body {
	padding-top: 50px;
	padding-bottom: 30px;
}

#navbar li > a > i {
	margin-right: 0.4em;
}


/* Filter panel */

.feedback-filter {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	align-items: center;
	display: flex;
}
.feedback-filter > label {
	margin-bottom: 0;
	margin-right: 0.4em;
	line-height: 1.1em;
}
.feedback-filter > label.right-align {
	width: min(30%, 150px);
	text-align: right;
}
.fb-filter-field {
	display: inline;
}
.fb-filter-field.input-flex {
	width: max(min(65%, 350px), 200px) !important;
}
.input-flex > div,
.input-flex > input {
	width: max(100%, 200px) !important;
}
#filter-panel-bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#order-filter-pane {
	float: left;
}
#filter-action-buttons {
	float: right;
}

/* combo textsearch filter */
label:has(~ .fb-filter-field > .combosearch) {
	align-self: start;
	margin-top: 0.5em;
}
input[type="checkbox"].combosearch {
	margin-right: 0.3em;
	margin-left: 0.3em;
}
input[type="checkbox"].combosearch + label {
	margin-bottom: 0;
}

/* timestamp filter */
#extra-filter-pane > div:first-child {
	display: flex;
}
#extra-filter-pane > div:first-child > div.fb-filter-field {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - min(30%, 150px) - 0.5em)
}

/* tag filters */
.tag-filter-pane > .feedback-filter {
	display: inline;
}

/* flag filters */
.fb-filter-field:has(> #id_feedbackfilter_flags) {
	width: 100%;
}
#id_feedbackfilter_flags .segmented-select {
	margin: 0.4em 0px;
	display: flex;
}

/* Displaying errors */
.feedback-filter:has(> .errorlist) {
	flex-wrap: wrap;
	border: 1px #ebccd1;
	background-color: #f2dede;
	border-radius: 4px;
}
.feedback-filter > .errorlist {
	width: 100%;
	margin-bottom: 0;
}

/* responsive for different widths */

@media (min-width: 750px) {
	#filter-container {
		display: grid;
		grid-template-columns: min(max(300px, 40%), 450px) 1fr;
		column-gap: 3em;
	}
	#general-filter-pane {
		grid-column: 1;
		grid-row: 1;
	}
	#feedback-tag-filter-pane {
		grid-column: 2;
		grid-row: 1;
	}
	#filter-panel-bottom {
		grid-column: 1 / 3;
		grid-row: 2;
	}
	@media (min-width: 992px) {
		#general-filter-pane {
			grid-row: 1 / 3;
		}
		#filter-panel-bottom {
			grid-column: 2;
			grid-row: 2;
		}
	}
	/* When the filter panel is expanded*/
	#filter-container.expanded #general-filter-pane {
		grid-row: 1;
	}
	#filter-container.expanded #feedback-tag-filter-pane {
		grid-row: 1 / 3 ;
	}
	#extra-filter-pane {
		grid-column: 1;
		grid-row: 2 / 4;
	}
	#student-tag-filter-pane {
		grid-column: 2;
		grid-row: 3;
	}
	#filter-container.expanded #filter-panel-bottom {
		grid-column: 1 / 3;
		grid-row: 4;
	}
	@media (min-width: 992px) {
		#extra-filter-pane {
			grid-column: 1;
			grid-row: 2 / 5;
		}
		#filter-container.expanded #filter-panel-bottom {
			grid-column: 2;
			grid-row: 4;
		}
	}
}

@media (max-width: 749px) {
	.input-filter-pane {
		width: 100%;
	}
	.tag-filter-pane,
	#filter-panel-bottom {
		width: 100%;
	}
}
@media (max-width: 500px) {
	#filter-panel-bottom {
		align-items: flex-start;
		flex-direction: column;
	}
	#filter-action-buttons {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
}

@media (max-width: 450px) {
	.feedback-filter:has(> label.right-align),
	.feedback-filter:has( #id_feedbackfilter_response_grade) {
		flex-direction: column;
	}
	.feedback-filter label.right-align {
		width: 100%;
		text-align: left;
	}
	.feedback-filter:has( #id_feedbackfilter_response_grade) {
		align-items: start;
	}
	.fb-filter-field.input-flex {
		width: 100% !important;
	}
	.input-flex > div,
	.input-flex > input {
		width: 100% !important;
	}
	/* Timestamp */
	#extra-filter-pane > div:first-child {
		display: block;
	}
	#extra-filter-pane > div:first-child > div.fb-filter-field {
		display: block;
		width: 100%
	}
}

/* icons for extra filters toggle button */
#filter-container #extra-filters-btn:before {
	position: relative;
	top: 0.1em;
	margin-right: 0.3em;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e259";
}
#filter-container.expanded #extra-filters-btn:before {
	content: "\e260";
}

/* labels in panel headers and footers */
.panel-heading .label,
.panel-footer .label {
	font-size: 100%;
}

/* add selected mark for active radio replacement button */
.buttons-for-radio button.active:before {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e013";
}

.hover-btn {
	background: none;
	border-color: rgba(150, 150, 150, 0.3);
}
.hover-btn > .glyphicon,
.styling-btn-container .btn > .glyphicon {
	top: 03px
}
.hover-btn:hover {
	background-color: rgba(150, 150, 150, 0.3);
}


/* Btn-group styling fix so tooltips and popovers don't break styling. */
.btn-group > .btn ~ .btn {
	margin-left: -1px;
}
.feedback-response-panel .btn-group > .btn.btn-xs:not(:has( ~ .btn)) {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

/* feedback/response panel */
.feedback-response-panel {
	border-width: 1px;
	background: #fbfbfb;
	margin-bottom: 1em;
	border-color: #ddd;
}

.feedback-response-panel > .panel-heading {
	display: flex;
	justify-content: space-between;
	padding: 0.4em 0.6em;
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	background-color: #222;
	border-color: #080808;
}
.feedback-response-panel .student-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.feedback-response-panel .student-info > * {
	flex-shrink: 0;
	margin-right: 8px;
}
.feedback-response-panel > .panel-heading a.student-name {
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}
.feedback-response-panel > .panel-heading a.student-name:hover {
	color: #ddf;
}
.feedback-response-panel .student-info > .student-tags > .label.colortag {
	margin-right: 5px;
}
.feedback-response-panel > .panel-heading .hover-btn {
	color: #fff;
}
.feedback-response-panel > .panel-heading .student-tags .label {
	font-size: 75%;
}
.feedback-response-panel > .panel-heading > .btn-toolbar {
	display: flex;
	align-items: start;
	justify-content: flex-end;
	flex-shrink: 0;
}

.feedback-response-panel > .panel-body {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.feedback-response-panel > .panel-body > .conversation-panel {
	flex: 37%;
	max-width: 75%;
	padding: 0.5em;
}
.feedback-response-panel > .panel-body > .conversation-tag-panel {
	flex: 2 240px;
	padding: 0.5em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: flex-start;
}
@media (max-width: 700px) {
	.feedback-response-panel > .panel-body > .conversation-panel,
	.feedback-response-panel > .panel-body > .conversation-tag-panel {
		width: 100%;
		max-width: 100%;
		flex: none;
	}
	.feedback-response-panel > .panel-body > .conversation-tag-panel {
		justify-content: flex-start;
	}
}

/* Feedback exercise/chapter heading */
.conversation-panel > .panel-heading {
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.conversation-panel > .panel-heading .panel-title {
	font-size: 13px;
}
.conversation-panel > .panel-heading .hover-btn {
	color: #000;
}
.conversation-panel > .panel-heading > .feedback-context-container {
	flex-grow: 1;
}
.conversation-panel > .panel-heading .feedback-context > span.context-tag {
	margin-top: 0;
	margin-left: 0.1em;
}

/* Conversation panel basic structure*/
.conversation-panel-body {
	display: flex;
	flex-direction: column;
}
.feedback-message,
.response-message {
	width: 80%;
	border-radius: 8px;
	border: 1px solid #bbb;
	margin-top: 0.5em;
}
.feedback-message {
	align-self: flex-start;
	background-color: #f7f7f7;
	min-height: 1.5em;
	position: relative; /* for positioning timestamp */
	padding-bottom: 0.4em;
}
.response-message-container {
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.response-message {
	background-color: #eee;
	position: relative; /* for positioning respond-buttons */
}

/* Feedback message */
.feedback-message.active {
	background-color: #fff;
}
.feedback-message table.table {
	margin-bottom: 0;
}
.feedback-message col.field-names {
	width: 8em;
}

@media (min-width: 992px) /* from bootstrap */ {
	body.ok .feedback-message tr .glyphicon,
	body.ok .feedback-message tr .label {
		opacity: 0.2;
		transition: opacity 200ms linear;
	}
	body.ok .feedback-message tr:hover .glyphicon,
	body.ok .feedback-message tr:hover .label {
		opacity: 1;
	}
}
body.ios .feedback-message tr .glyphicon {
	display: none;
}

.feedback-message > .panel-footer {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding: 0.2em;
	cursor: pointer;
}
.feedback-message > .panel-footer.collapsed {
	background: transparent;
	position: absolute;
	bottom: 0;
	right: 0;
	border-top: 0;
	padding-bottom: 0;
	color: #777;
}
.timestamp {
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
}
.feedback-message > .panel-footer .timestamp:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-size: 11px;
	font-weight: 400;
	line-height: 0.7;
	margin-left: 0.4em;
	margin-right: 0.2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e260";
}
.feedback-message > .panel-footer.collapsed .timestamp:after {
	content: "\e259";
}

.feedback-message > .panel-footer > .feedback-msg-bottom.in {
	padding-left: 0.3em;
}

/* Response message */
.response-message:has(.edit-response[style*="display: none"]) {
	/* Fit content if textbox isn't displayed */
	/* Doesn't work on Firefox unless user has enabled has-selector */
	max-width: 80%;
	min-width: 12em;
	width: fit-content;
}
.response-message .form-group {
	margin-bottom: 0;
}
.response-message div.display-response {
	padding: 5px 5px 0;
}
.response-message textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 50px;
	resize: both;
}
.response-message span.textarea.preview {
	margin: 5px;
}
.response-message .respond-btn-container {
	float: right;
	margin: 0.2em;
}
/* Btn-group styling fix so tooltips don't break styling. */
.response-message .btn-group .btn ~ .btn {
	margin-left: -1px;
}
.response-message .btn-group > .btn ~ .dropdown-toggle {
	padding-right: 8px;
	padding-left: 8px;
}
.response-message .respond-btn-container .dropdown-menu {
	min-width: auto;
	padding: 0;
	margin-top: 0;
}
.response-message .respond-btn-container .dropdown-menu .btn {
	width: 100%;
}
.response-message .ok-icon {
	font-size: 0.8em;
}
.response-message .message-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 0.3em;
}
.styling-btn-container .btn-toolbar {
	padding: 0.3em;
	padding-left: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.response-msg-bottom-right {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.response-label-container > * {
	margin: 0.3em 0;
}
.status-tag-container > *,
.upload-status {
	margin: 0 0.3em;
}

/* Popover for styling buttons when they don't fit normally */
.visible-xs-response {
	display: none;
}
@media (max-width: 499px),
(min-width: 701px) and (max-width: 991px) {
	.visible-xs-response {
		display: block;
	}
	.hidden-xs-response {
		display: none;
	}
}
.popover.style-buttons .popover-content{
	padding: 4px;
	display: flex;
}
.popover.style-buttons .btn-group.styling-buttons {
	display: flex;
}

/* Popovers */
.popover {
	width: 45vw;
	max-width: 600px;
}
@media (max-width: 700px) {
	.popover {
		width: 90vw;
	}
}

.popover > .popover-content {
	overflow-y: scroll;
	max-height: 85vh;
}

/* conversation preview popovers */
.popover .conversation-panel:not(:last-child) {
	padding-bottom: 1rem;
	border-bottom: 1px solid lightgray;
	margin-bottom: 1rem;
}

.popover .conversation-panel .panel-heading {
	margin-bottom: -3px;
}
.popover.feedback-message {
	padding-bottom: 0;
}
.popover .feedback-message td {
	padding: 3px;
}
.popover .feedback-message > .panel-footer {
	cursor: auto;
}
.popover .feedback-message > .panel-footer .timestamp:after {
	display: none;
}
.popover .conversation-panel .display-response {
	color: #000;
}
.popover .conversation-panel .message-info {
	height: 0.5em;
	line-height: 1;
}

/* background questionnaire popovers */
.background-display h3 {
	margin-top: 4px;
	font-size: 20px;
}
.popover .background-display .control-label,
.popover .background-display .question-description p {
	margin-bottom: 2px;
}
.popover .background-display .form-group {
	margin-bottom: 0.75em;
}
.popover .background-display .form-group:last-child {
	margin-bottom: 0
}
.popover .background-display label > input[type="radio"]:checked + span,
.popover .background-display label > input[type="checkbox"]:checked + span {
	background-color: #bce8f1;
	box-shadow: 0 0 0 3px #bce8f1;
}

/* points display popovers */
.popover:has( .points-display) {
	max-width: 400px;
}

.points-level-group:has( ~ .points-level-group) {
	margin-bottom: 0.75em;
}

.points-display table.category-points-table {
	width: 100%
}
.points-display th.category-label {
	width: 1.5em;
	padding-right: 0.4em;
	font-weight: 500;
	text-align: end;
	text-wrap: nowrap;
}


/* Progress bar for points */
.progress {
	position: relative;
	height: 1.3em;
	margin-bottom: 0;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar {
	float: left;
	width: 0%;
	height: 100%;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	text-align: center;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
}
.progress-striped .progress-bar, .progress-bar-striped {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
}
.progress .points-text {
	position: absolute;
	left: 6px;
}
.progress .required-points {
	position: absolute;
	height: 20px;
	border-left: 1px solid #000;
}


/* Import context tags */

.import-form {
	margin-bottom: 0.5em;
}

#tag-import-preview-container .not-importable {
	opacity: 0.4;
}

/* spin animation, src: http://bootsnipp.com/snippets/featured/glyphicon-animate-rotation-and-flip */
.gly-spin {
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
	0% {   -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
	0% {   -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
	0% {   -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(359deg); }
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
