body {
	padding-top: 50px;
	padding-bottom: 30px;
}

.panel-heading .label, .panel-footer .label {
	font-size: 100%;
}

.buttons-for-radio button.active:before {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e013";
}

.feedback-panel .panel-heading {
	padding: 4px 6px;
}

.response-panel .form-group {
	margin-bottom: 0;
}

.response-panel .panel-body {
	position: relative; /* required for overlay to work */
}

.response-panel .panel-body .overlay {
	display: none;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	padding: 0.6em;
}
