{% load i18n %}
{% load urltools %}

{% if paginator %}
	{% blocktranslate trimmed count count=paginator.count asvar total_messages %}
		{{ count }} student message found
	{% plural %}
		{{ count }} student messages found
	{% endblocktranslate %}

	{% blocktranslate trimmed count count=conversations|length asvar total_conversations %}
		in {{ count }} conversation.
	{% plural %}
		in {{ count }} conversations.
	{% endblocktranslate %}
{% endif %}

{% if is_paginated %}
	<nav aria-label="page navigation">
		<ul class="pagination">
			<li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
				{% if page_obj.has_previous %}
					<a class="page-link"
						href="?{% updated_query page=page_obj.previous_page_number %}"
						area-label="{% trans 'Previous' %}">
				{% endif %}
				<span aria-hidden="true">&#8592;<span class="sr-only">{% trans 'Previous' %}</span></span>
				{% if page_obj.has_previous %}
					</a>
				{% endif %}
			</li>
			<li class="page-item {% if page_obj.number == 1 %}active{% endif %}">
				<a class="page-link" href="?{% updated_query page=None %}">1</a>
			</li>
			<li class="page-item">
				<span>
				{% blocktrans trimmed with current=page_obj.number total=page_obj.paginator.num_pages %}
				Page {{current}} of {{total}}
				{% endblocktrans %}
				</span>
			</li>
			<li class="page-item {% if page_obj.number == page_obj.paginator.num_pages %}active{% endif %}">
				<a class="page-link" href="?{% updated_query page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
			</li>
			<li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
				{% if page_obj.has_next %}
					<a class="page-link"
						href="?{% updated_query page=page_obj.next_page_number %}"
						area-label="{% trans 'Next' %}">
				{% endif %}
				<span aria-hidden="true">&#8594;<span class="sr-only">{% trans 'Next' %}</span></span>
				{% if page_obj.has_next %}
					</a>
				{% endif %}
			</li>
			<li>
				<span style="border-top-style: none; border-right-style: none; border-bottom-style: none; color: unset;">
					{{ total_messages }}
					{{ total_conversations }}
				</span>
			</li>
			<li>
				<form class="navbar-form navbar-left" action="." method="get">
					<div class="form-group">
						<label>
							<select name="paginate_by" class="paginate_by">
								{% for opt in page_sizes %}
									<option value="{{ opt.0 }}" {% if opt.1 %}selected{% endif %}>{{ opt.0 }}</option>
								{% endfor %}
							</select>
							{% translate "items per page" %}
						</label>
					</div>
				</form>
			</li>
		</ul>
	</nav>
{% else %}
	<p>
		{{ total_messages }}
		{{ total_conversations }}
	</p>
{% endif %}
