<form action="{{post_url}}" method="post">
	<table>
		{{ form }}
		<tr>
			<th></th>
			<td><input type="submit" value="{% if not feedback %}Submit{% else %}Update{% endif %}" /></td>
		</tr>
	</table>
</form>
{% if feedback %}
	{% if not feedback.responded %}
		<p>waiting for response to this Feedback</p>
	{% else %}
		<h3>Staff response</h3>
		{% if feedback.response_msg %}
			<p>{{ feedback.response_msg }}</p>
		{% endif %}
		<p>Feedback is {{ feedback.response_grade_text }}</p>
	{% endif %}
{% endif %}
