{% load i18n %}

<h3 class="exercise-title">{{ exercise.name }}</h3>

<div id="exercise">

	{# Form #}
	<form action="{{post_url}}" method="post">

		{# warning state http://getbootstrap.com/css/#forms-control-validation #}
		{{ form.as_div }}

		{# <div class="form-group"> #}
		<p>
		<input type="submit"
		       value="{% if not feedback %}{% trans 'Submit' %}{% else %}{% trans 'Submit update' %}{% endif %}"
		       class="btn btn-primary" />
		</p>
		{# </div> #}
	</form>

	{# Response #}
	{% if feedback and feedback.responded %}
		<div class="alert alert-info">
		<h4>{% trans "Staff response" %}</h4>
		{% if feedback.response_msg %}
			<p>{{ feedback.response_msg }}</p>
		{% endif %}
		<p>{% blocktrans with status=feedback.response_grade_text.lower %}
			Feedback is {{ status }}
		{% endblocktrans%}</p>
		</div>
	{% endif %}
</div>

