<form action="{{ post_url }}" method="post">
	{% csrf_token %}
	{% for field in form %}
		<div class="fieldwrapper">
			{{ field.errors }}
			{# field.label_tag #}
			{{ field }}
			{% if field.help_text %}
				<p class="help">{{ field.help_text|safe }}</p>
			{% endif %}
		</div>
	{% endfor %}
	{% if form.instance.response_time %}
		<p>Responed {{ form.instance.response_time|default:"" }}</p>
		{% if not form.disabled %}
			<input type="submit" value="Update" />
		{% endif %}
	{% elif not form.disabled %}
		<input type="submit" value="Respond" />
	{% endif %}
</form>
