<h1>Unresponded Feedback</h1>
{% for data in feedbacks %}
	<div style="display: block; border: 1px solid black;">
		<h3>
		Feedback from {{ data.feedback.student }} to {{ data.feedback.group_path }}
		{% if data.feedback.has_older_versions %}
			[<a href="{{ data.older_url }}">older comments</a>]
		{% endif %}
		</h3>
		{% include "feedback/_feedback_response.html" with form=data.form feedback=data.feedback post_url=data.post_url %}
	</div>
{% empty %}
	<p>No unresponded feedback yet.</p>
{% endfor %}
